@media (max-width:1920px )
{
  #Main{width: 1364px;}
  .LTItem:nth-child(9){display: none;}
  #HTitle{margin-right: 150px;}
  .LTItem{width: 331px}
}

@media (max-width:1450px )
{
  #Main{width: 1024px;}
  .LTItem:nth-child(9){display: inline-block;}
  #HTitle{margin-right: 10px;}
}

@media (max-width:1060px)
{
  #Main{width: 1000px;}
  .LTItem{width: 324px;}
  .LTItem2{width: 243px;}
  h1{font-size: 30px;}
  #HRight{background-size: 200px auto;padding-right: 208px;padding-top: 1px;}
}

@media (max-width:1024px)
{
  #Main{width: auto;}
  .LTItem{width: 325px;}
  h1{font-size: 30px;}
  #HRight{background-size: 200px auto;padding-right: 208px;padding-top: 1px;}
  .LTPrice span a{font-size: 17px;}
  .LTPrice span a b{font-size: 20px;}
  .LTItem2{margin-right: 4px;}
  .LTPrice2{margin-left: 75px;}
  #HTitle {margin-right: 30px;}
  .LTItem:nth-child(9),
  .LTItem:nth-child(10){display: none;}
  .ListTours, .ListTours2{margin: 0px 10px;}
}
@media (max-width:1023px)
{
  #Main{width: 800px;}
  .LTItem{width: 334px;}
  .LTItem:nth-child(10){display: none;}
  h1{font-size: 30px;}
  #HRight{background-size: 200px auto;padding-right: 208px;padding-top: 1px;}

  .LTItem2.displayNone{display: inline-block;}
  .LTItem2{margin-right: 14px;}
  h1{font-size: 25px;}
  #HRight {
    background-size: 165px auto;
    padding-right: 171px;
    padding-top: 1px;
    line-height: 16px;
  }
  .TMenu2{display: none;}
  .TMenu
  {
    display: block;
    position: static;
    padding: 0px;
    width: auto;
    left: auto;
    right: auto;
  }

  #FMenu{display: block;}
}

@media (max-width:800px)
{
  #Main{width: 100%;}
}

@media (max-width:720px)
{
  #Main{width: 100%;}
  .TMenuSmall{display: block;}
  .TMenu{display: none;position: absolute;padding: 10px;width: 300px;right: 0px;}
  .TMenu span{display: none;}
  .TMenu a
  {
    display: inline-block;
    width: 277px;
    text-align: center;
    font-size: 19px;
    background: #8D99BB;
    padding: 5px 0px;
    margin: 3px 0px;
  }

  #FMenu{display: none}

  #HRight
  {
    background-size: 130px auto;
    padding-right: 137px;
    padding-top: 0px;
    line-height: 13px;
    font-size: 14px;
  }

  .LTItem2 {
    margin-right: 2px;
    width: 228px;
  }

  .LTPrice2 {
    margin-left: 60px;
  }

  #HRight{display: block;}
}

@media (max-width:719px)
{
  #HRight{display: none;}
  #HTitle{margin-right: 20px;}
  h1{font-size: 30px;}
  .LTItem{width: 280px;}
  .LTItem2{margin-right: 2px;width: 250px;}
  .LTItem2:nth-child(10){display: none;}

  .FBlock{width: 180px;}
  #MCFind input{width: 153px;}
  #MCFind select, #MCFind .FBSubmit input{width: 175px;}
  .LTPrice span a{font-size: 15px;}
  .LTPrice span a b{font-size: 18px;}
}

@media (max-width:620px)
{
  .Header {height: 300px;}
  h1
  {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
  }
  #HTitle {
    margin-right: 0px;
  }
  #HLogo {float: none;  height: 195px;width: auto;text-align: center;}
}

@media (max-width:600px)
{
  .FBlock {
    display: block;
    width: 300px;
    margin: 0px auto 10px auto;
  }

  #MCFind input{width: 253px;}
  #MCFind select, #MCFind .FBSubmit input{width: 275px;}
  .LTItem {
    width: 247px;
  }

  .LTPrice span a{font-size: 14px;}
  .LTPrice span a b{font-size: 16px;}
}

@media (max-width:530px)
{
  .LTItem {
    width: 215px;
  }
  .LTPrice span a {
    font-size: 12px;
  }
  .LTItem2 {
    width: 225px;
  }
  .LTPrice2 {
    margin-left: 56px;
  }
  .LTPrice span a {
    font-size: 18px;
  }

  .LTPrice {
    padding-top: 11px;
    height: 48px;
    background-size: auto 59px;
  }

  .LTPrice a b {font-size: 20px;}
}

@media (max-width:480px)
{
  .LTItem {
    width: 194px;
  }

  .LTPrice {
    height: 33px;
    background-size: auto 43px;
    line-height: 14px;
  }
  .LTPrice span a {font-size: 16px;}
  .LTPrice span a b {font-size: 16px;}

  .LTItem2 {
    width: 197px;
  }
  .LTPrice2 {
    margin-left: 28px;
  }

}

@media (max-width:475px)
{
  .LTItem {
    width: 330px;
  }

  .LTPrice span a {font-size: 18px;}
  .LTPrice span a b {font-size: 20px;}
}

@media (max-width:422px)
{
  h1{  margin: 0px 5px;}
}

@media (max-width:420px)
{
  .LTItem2 {
    width: 251px;
  }

  .LTPrice2 {
    margin-left: 81вpx;
  }
}

