/* для браузеров Webkit */
@-webkit-keyframes imageRotateLeft {
    0%{
        -webkit-transform: rotate(-10deg);
        margin-left: 0px;
        margin-top: 0px;
        opacity: 0.6;
    }
    100% {
        -webkit-transform: rotate(35deg);
        margin-left: -105px;
        margin-top: -45px;
        opacity: 1;
    }
}
/* для Firefox */
@-moz-keyframes imageRotateLeft {
    0%{
        -moz-transform: rotate(-10deg);
        margin-left: 0px;
        margin-top: 0px;
        opacity: 0.6;
    }
    100% {
        -moz-transform: rotate(35deg);
        margin-left: -105px;
        margin-top: -45px;
        opacity: 1;
    }
}
/* Задел на будущее: для браузеров, поддеживающих безвендорный синтаксис */
@keyframes imageRotateLeft {
    0%{
        /* IE */-ms-transform: rotate(-10deg);
        /* Opera */-o-transform: rotate(-10);
        /* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
        margin-left:0px;
        margin-top: 0px;
        opacity: 0.6;
    }
    100% {
        /* IE */-ms-transform: rotate(35deg);
        /* Opera */-o-transform: rotate(35deg);
        /* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);

        margin-left: -105px;
        margin-top: -45px;
        opacity: 1;
    }
}

/* ------- Анимация выезжающих картинок слева --------- */

/* для браузеров Webkit */
@-webkit-keyframes imageRotateRight {
    0%{
        -webkit-transform: rotate(10deg);
        margin-left: 101px;
        margin-top: 0px;
        opacity: 0.6;
    }
    100% {
        -webkit-transform: rotate(35deg);
        margin-left: 155px;
        margin-top: 5px;
        opacity: 1;
    }
}
/* для Firefox */
@-moz-keyframes imageRotateRight {
    0%{
        -moz-transform: rotate(10deg);
        margin-left: 101px;
        margin-top: 0px;
        opacity: 0.6;
    }
    100% {
        -moz-transform: rotate(35deg);
        margin-left: 155px;
        margin-top: 5px;
        opacity: 1;
    }
}
/* Задел на будущее: для браузеров, поддеживающих безвендорный синтаксис */
@keyframes imageRotateRight {
    0%{
        /* IE */-ms-transform: rotate(10deg);
        /* Opera */-o-transform: rotate(10);
        /* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
        margin-left:101px;
        margin-top: 0px;
        opacity: 0.6;
    }
    100% {
        /* IE */-ms-transform: rotate(35deg);
        /* Opera */-o-transform: rotate(35deg);
        /* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);

        margin-left: 155px;
        margin-top: 5px;
        opacity: 1;
    }
}
/* ------- end( анимация выезжающих картинок справа ) --------- */

/* ------- Анимация выезжающих картинок слева 2 --------- */

/* для браузеров Webkit */
@-webkit-keyframes imageRotateRight2 {
    0%{
        -webkit-transform: rotate(-30deg);
        margin: 13px 0px 0px -8px;
        opacity: 0.6;
    }
    100% {
        -webkit-transform: rotate(-20deg);
        margin: 105px 0px 0px -85px;
        opacity: 1;
    }
}
/* для Firefox */
@-moz-keyframes imageRotateRight2 {
    0%{
        -moz-transform: rotate(-30deg);
        margin: 13px 0px 0px -8px;
        opacity: 0.6;
    }
    100% {
        -moz-transform: rotate(-20deg);
        margin: 105px 0px 0px -85px;
        opacity: 1;
    }
}
/* Задел на будущее: для браузеров, поддеживающих безвендорный синтаксис */
@keyframes imageRotateRight2 {
    0%{
        /* IE */-ms-transform: rotate(-30deg);
        /* Opera */-o-transform: rotate(30);
        /* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
        margin: 13px 0px 0px -8px;
        opacity: 0.6;
    }
    100% {
        /* IE */-ms-transform: rotate(-20deg);
        /* Opera */-o-transform: rotate(-20deg);
        /* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);

        margin: 105px 0px 0px -85px;
        opacity: 1;
    }
}
/* ------- end( анимация выезжающих картинок справа 2 ) --------- */


/* ------- Анимация выезжающих картинок слева 2 ------- */
/* для браузеров Webkit */
@-webkit-keyframes imageRotateLeft2   {
    0%{
        -webkit-transform: rotate(-20deg);
        margin-left: 0px;
        margin-top: 0px;
        opacity: 0.6;
    }
    100% {
        -webkit-transform: rotate(0deg);
        margin-left: -95px;
        margin-top: 20px;
        opacity: 1;
    }
}
/* для Firefox */
@-moz-keyframes imageRotateLeft2   {
    0%{
        -moz-transform: rotate(-20deg);
        margin-left: 0px;
        margin-top: 0px;
        opacity: 0.6;
    }
    100% {
        -moz-transform: rotate(0deg);
        margin-left: -95px;
        margin-top: 20px;
        opacity: 1;
    }
}
/* Задел на будущее: для браузеров, поддеживающих безвендорный синтаксис */
@keyframes imageRotateLeft2   {
    0%{
        /* IE */-ms-transform: rotate(-20deg);
        /* Opera */-o-transform: rotate(-20);
        /* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
        margin-left:0px;
        margin-top: 0px;
        opacity: 0.6;
    }
    100% {
        /* IE */-ms-transform: rotate(0deg);
        /* Opera */-o-transform: rotate(0deg);
        /* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);

        margin-left: -95px;
        margin-top: 20px;
        opacity: 1;
    }
}
/* ------- end of ( Анимация выезжающих картинок слева 2 ) --------- */
