body { background: #cfcfcf; }

div, body
{
	padding:0px;
	margin:0px;
	font-family:tahoma;
	font-size:12px;
	color:#475071;
}

.floatLeft{float: left;}

#Main
{
    overflow: auto;
	background:#ffffff;
	min-width: 1265px;
    background: #ffffff url(../images/header_bg.jpg) no-repeat 0px top;
    max-width: 1500px;
    margin: 0px auto;
}

#Main.MInnerPage{background-size: auto 358px;}
#Main.style01
{
    background: #ffffff url(../images/desktops/style01.jpg) no-repeat left top;
}

#Main.style02{background: #ffffff url(../images/desktops/style02.jpg) no-repeat left top;}
#Main.style03{background: #ffffff url(../images/desktops/style03.jpg) no-repeat left top;}

h1{color: #DC5800;font-size: 12px;text-align: center;}

#BannerBlock
{
    overflow: hidden;
}

#BBLeft{ float: left;width: 531px;height: 332px; }
.MInnerPage #BBLeft{ width: 430px;height: 260px; }
.MInnerPage #BBLeft img{height: 260px;}
#BRight {float: right;width: 730px;}
.MInnerPage #BRight{float: left;}
#BRTitle{font-family:Myriad Pro;float: left;width: 641px;height: 87px;margin:90px 0px 0px 0px; }
.MInnerPage #BRTitle img{height: 75px;}
.MInnerPage #BRTitle{ margin:30px 30px 0px 10px; }
#BRHref{float: right;background: url(../images/logo_href.jpg) no-repeat;width: 49px;height: 204px;}
#BRHref a{
    width: 197px;
    height: 162px;
    font-size: 24px;
    color:#3a4672;
    text-decoration: none;

    display: block;
    /* Safari */-webkit-transform: rotate(270deg);
    /* Firefox */-moz-transform: rotate(270deg);
    /* IE */-ms-transform: rotate(270deg);
    /* Opera */-o-transform: rotate(270deg);
    /* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#BRHref a b, #BRHref a font{ color: #ef5806; }
#BRHref a font {font-size: 17px;}

#Menu1
{
    position: absolute;
    right: 0;
    top: 200px;
}

.MInnerPage #Menu1{ top: 130px; }

#Menu
{
    float: right;
    background: url( ../images/menu_bg.png ) no-repeat;
    width: 826px;
    height: 136px;
}

.MInnerPage #Menu{top:126px;}

img
{
	border:0px;
}

.BottomLink
{
	font-size:xx-small;
	color:#fcd6ae;
	text-align:center;
	margin:2px 3px 4px 3px;
	float:left;
	width:100%;

}

#BannerBlock .BottomLink{position: absolute;color:#a4d1f2;margin: 0px;}

#BH1{float: left;padding: 0px 0px 0px 0px;margin-left: 90px; }
#BH1 h1{color:#f8893f;font-style: normal;font-weight: normal;margin: 0px;}

.BottomLink h2, .BottomLink h3, .BottomLink h4, .BottomLink h5
{
	display:inline;
	margin:0px;
	padding:0px;
}

.BottomLink h1
{
	display:inline;
	font-size:xx-small;
	font-weight:normal;
}

.BottomLink h2
{
	display:inline;
	margin:0px;
	padding:0px;
	font-size:xx-small;
	font-weight:normal;
}

.bpadding
{
	float:left;
	width:100%;
}

#MCenter
{
	overflow:hidden;
}

#Center
{
	overflow:hidden;
}

#CCInfo
{
	color:#476584;
	font-size:14px;
	padding:5px;
}

#CCInfo #Address
{
	float:left;
	margin-bottom:3px;
	width:100%;
}

#CCInfo div a, #Center div a, #bLinks a
{
	color:#DC5800;
	font-size:12px;
	text-transform:lowercase;
	text-decoration:none;
	/*width:100%;*/
}

#Main .lban a { color:#FCD1B6; }

#CCInfo div b
{
	color:#0078E7;
	font-size:12px;
	font-weight:normal;
	text-transform:capitalize;
}

#CCInfo #CCLinks
{
	float:left;
	border:0px;
	width:450px;
	padding-left:10px;
}

#CCInfo #CCLinks a
{
	color:#476584;
	padding-right:5px;
}

#CCInfo #CCLinks img
{
	width:100px;
}

#CCLinks .CCMore
{
	text-align:right;
	padding-right:5px;
	width:100px;
}

#CCLinks .CCMore a
{
	text-align:right;
	padding-right:5px;
	width:100px;
	font-size:11px;
	text-decoration:none;
	color:#F39C5E;
}

.CCGHead
{
	font-weight:bold;
	color:#F39C5E;
	margin-top:12px;
}

#CCGallery img
{
	border:1px solid #55A0E3;
	padding:3px;
}
/*
#MCenter #CCSubmenu a, #MCenter #CCSubmenu
{
	border:0px;
	line-height:1;
	color:#55a0e3;
	font-size:10px;
	font-weight:bold;
	padding-bottom:1px;
	height:10px;

}
*/
.lmenu
{
	/*background:url( ../images/little_menu.jpg) no-repeat center bottom;*/
	width:81px;
	height:16px;
	float:left;
	text-align:center;
	padding-top:12px;
	border-bottom:1px solid #55a0e3;
	z-index:10;
}

.lopen
{
	width:82px;
	height:29px;
	padding-top:0px;
	border-bottom:0px;
}

#llost
{
	width:100%;
	border-bottom:1px solid #55a0e3;
	height:28px;

/*
	z-index:1;
*/
}

#MCenter #CCSubmenu
{
	float:left;
	width:100%;
	background-position:left 1px
}

*HTML  #MCenter #CCSubmenu
{
	background-position:left 3px;
}


#CCSubmenu .lopen div
{
	padding-top:9px;
	color:#017df8;
	font-weight:bold;
}

#MCenter #CCSubmenu a
{
	text-decoration:none;
	font-size:12px;
	text-transform:none;
	color:#ffffff;
	font-weight:bold;
}

#MCenter #CCSubmenu a:hover
{
	color:#017df8;
}

#Left
{
	float:left;
	overflow:hidden;
	width:275px;
}

#LeftBG
{
    margin:0 5px 0px 10px;
    overflow:hidden;
    width:240px;
    background: #fff url( ../images/news_bg.jpg ) no-repeat top center;
    box-shadow: 0px 0px 8px rgba( 0, 0, 0, 0.8);
    margin: 6px;
    padding: 20px 8px 5px 8px;
    margin-left: 10px;
}

#findTour
{
    background: url( ../images/tour_find.jpg ) no-repeat;
    width: 258px;
    height: 200px;
    margin-left: 10px;
    border-radius: 8px;
    /* Webkit (Safari/Chrome) */ -webkit-box-shadow: 4px 4px 7px 0px #CCCCCC;
    /* Mozilla Firefox */ -moz-box-shadow: 4px 4px 7px 0px #CCCCCC;
    /* Proposed W3C Markup */ box-shadow: 4px 4px 7px 0px #CCCCCC;
    margin-bottom: 15px;
}

#FTFormTab, #FTHotelsTab{display: none;}
#findTour .FTFActive{display: block;}

#findTour #FTHeader a
{
    color: #bd7a22;
    font-size: 14px;
    display: inline-block;
    height: 25px;
    width: 100px;
    padding-top: 6px;
    text-align: center;
    vertical-align: top;
}

.FTFormTab
{
    margin: 0px 16px;
    color: #fff;
    font-weight: bold;
}

.FTFormTab p{margin: 3px 0px;text-align: right;text-shadow: 0px 0px 3px #000;}
.FTFormTab p select
{
    border:1px solid #888;
    border-radius: 6px;
    padding:3px;
    width: 147px;
    box-shadow:1px 2px 6px -1px rgba( 0, 0, 0, 0.6 );
    background: rgba(255,255,255, 0.8);
}

#FTBF.FTBottom
{
    margin: 20px;
    font-weight: normal;
    margin: 20px 0px 20px 10px;
}

#findTour .FTBottom input[type=submit]
{
    background: transparent;
    border: 0px;
    color: #fff;
    font-weight: bold;
    width: 80px;
    margin-right: 7px;
}

#findTour #FTHeader font
{
    display: inline-block;
    width: 41px;
    height: 31px;
}

#findTour #FTHeader .FTFormSepar
{
    background: url(../images/find_tour_sep.png ) no-repeat right top;
}

#findTour #FTHeader .FTHotelsSepar
{
    background: url(../images/find_tour_sep.png ) no-repeat right -31px;
}

#findTour #FTHeader .FTActive
{
    color: #cd3301;
    font-size: 14px;
    font-weight: bold;

}
.CItem{ margin-top: 27px;overflow: hidden; }

.CItem, #sectionMenu .CItem, .centrItem
{
	float:left;
    margin-right:11px;
}

.MFirst{margin-left: 26px;}

#sectionMenu .CItem
{
	float:left;
	width:136px;
}

#CActions .centrItem
{
	float:left;
	width:98%;
	/*background:url( ../images/ cent_bg.jpg ) repeat-x;*/
}

.tours
{
	padding:5px 5px 0;
	width:98%;
	color:#0e4884;
	text-align:justify;
	font-size:12px;
	margin-bottom:5px;
	min-height: 130px;
}

.firm
{
	font-size:12px;
	height:156px;
	margin-right:19px;
	overflow:hidden;
	padding:7px;
	width:205px;
	/*background:url( ../images/ firm_bg.jpg ) no-repeat 0px 21px;*/
	font-size:11px;
}

#sectionMenu
{
	overflow:hidden;
}

#sectionMenu .MenuJsClass img
{
	width:130px;
}

.centrItem img, #lblock_text img
{
	padding:2px;
	border:1px solid #E88C4B;

	float:left;
	margin:3px;
	margin-right:6px;
	width:100px;
}

.gall img
{
	float:none;
	margin:0px;
}

.centrItem h1, #lblock_text h1
{
	font-size:19px;
	margin-bottom:10px;
	margin-top:0px;
}

#lblock_text table{width: 100%;}

#lblock_text table th, #lblock_text table td
{
	padding:5px;
	vertical-align:top;
}

#lblock_text table th
{
	border-right:1px solid #476584;
	text-align:left;
}

.centrItem h4
{
	margin-bottom:0;
	margin-top:7px;
}

.CItem a, .centrItem a
{
/*	display:block;*/
}

#Right
{
	float:right;
	width:150px;
	margin:0 10px;
}

#MCenter .lblock
{
	width:240px;
}

#Right ul
{
	list-style-type:none;
	width:239px;
	padding:0px;
	margin-left:-9px;
}

#Right ul ul
{
	margin-left:15px;
	margin-bottom:10px;
}

#Right ul ul li
{
	margin-bottom:3px;
	list-style-type:disc;
	font-size:12px;
}

#Right #RStatistic ul
{
	margin-left:15px;
}

#Right .select
{
	font-weight:bold;
	border-top:1px solid #efb892;
	border-bottom:1px solid #efb892;
	background:#f8f0ea;
}

#Right .subUl
{
	/*display:none;*/
	padding-bottom:10px;
	margin-left:22px;
}

#Right .select .subUl
{
	padding-left:0px;
	font-size:14px;
	text-transform:lowercase;
	font-weight:normal;
	display:block;
	width:142px;
}

#Right .select .subUl
{
	color:#fcad76;
}

#Right li
{
	font-size:14px;
	margin-left:10px;
	width:100%;
}

#Right li a
{
	color:#ff9850;
	text-decoration:none;
}

#Right li li a
{
	color:#476584;
	text-decoration:underline;
}

.RMCount
{
	left:-11px;
	position:relative;
	font-weight:bold;
}

#Bottom
{
	float:right;
/*	margin-right:33px; */
	width:100%;
}

#BItems
{
	/*background:url( ../images/bottom02.png) repeat-y;*/
	width:100%;
	float:right;
}

#BItems #BITop
{
	/*background:url( ../images/bottom01.png) no-repeat;*/
	width:100%;
	height:30px;
	font-size:0px;
}

#BItems #BICenter
{
	overflow:hidden;
}

.LeftMenu
{
}

.LeftMenu ul ul{padding-left: 30px;}

#RStatistic
{
	float:left;
	width:100%;
}

.BIBlock .BITTitle
{
	color:#2D91EE;
	font-weight:bold;
	font-size:14px;
	border-bottom:1px solid #2D91EE;
	margin:10px 10px 10px 0px;
	float:left;
	width:100%;
}

#Left .BITTitle, #Right .BITTitle
{
	width:230px;
}

.BIBlock .BITItems
{
	color:#8d8d8d;
	font-size:11px;
	margin-bottom:5px;
	margin-bottom:5px;
}

.BIBlock  hr
{
	color:#EFEFEF;
	float:left;
	width:100%;
	margin:	1px 0px 3px;
}

.BILine
{
	float:left;
	padding-left:30px;
}

.BITItems2
{
	color:#8d8d8d;
	font-size:11px;
	float:left;
	width:154px;
}

.BITItems2 img
{
	float:left;
	padding:3px;
	margin:3px;
}

.BITItems2 a
{
	color:#64C6FF;
	font-size:11px;
	width:150px;
	float:left;
}

.BIBlock .BITItems a, #lblock_text table a
{
	color:#0078E7;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
}

.BIBlock .BITItems a:hover
{
	text-decoration:underline;
}

.BIBlock .BITItems img
{
	padding-right:3px;
	padding-bottom:3px;
	width:70px;
}

#BItems #BIBottom
{
	/*background:url( ../images/bottom03.png) no-repeat;*/
	width:100%;
	height:30px;
	font-size:0px;
	overflow:hidden;
}

#BItems .BIBlock
{
	float:left;
	width:100%;
	padding-left:20px;
}

#BItems .PaddingLeft
{
	padding-left:30px;
}

#RMenu
{
    /*background:url( ../images/rightmenu02.png) repeat-y;*/
}

#RMTop
{
	/*background:url( ../images/rightmenu01.png) no-repeat;*/
	font-size:0px;
	height:20px;
}

#RMBottom
{
    /*background:url( ../images/rightmenu03.png) no-repeat;*/
	font-size:0px;
	height:20px;
}

#RStatistic ul
{
	border-left:1px solid #A7A7A7;
	color:#A7A7A7;
	font-size:10px;
	margin-left:10px;
	padding-bottom:5px;
	padding-left:10px;
	padding-top:5px;
}

#RStatistic ul li
{
	font-size:10px;
	list-style:none;
}

.CHint, .LittleCHint
{
	height:138px;
	width:332px;
	position:absolute;
	background:none;
    /*
	background:transparent url( ../images/hint.png) no-repeat scroll 0 !important;
	background-image:none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/hint.png', sizingMethod='scale');
zoom: 1;
*/
	display:none;
}

.CHint
{
	margin-left:86px;
	margin-top:-199px;
	z-index: 200;
}

#sectionMenu .CHint
{
	margin-left:70px;
	margin-top:-200px;
}

.LittleCHint
{
	margin-left:49px;
	margin-top:-181px;
}

.CHint .CHText
{
	margin-left:46px;
	margin-top:25px;
	width:260px;
	font-size:11px;
}

.CHText div
{
	color:#2169ad;
	border-bottom:1px solid #309bff;
	font-weight:bold;
	font-size:11px;
}

.MSeparator
{
	float:left;
	width:12px;
	height:36px;
/*background:url( ../images/menusep.png) no-repeat;*/
}

#menu01
{
display:block;
/*background:url( ../images/menu01.png) no-repeat;*/
width:80px;
height:36px;
}

#menu02
{
display:block;
/*background:url( ../images/menu02.png);*/
width:88px;
height:36px;
}

#CCInfo
{
overflow:hidden;
}

#popup_pages #CCInfo
{
float:left;
}

#menu03
{
display:block;
/*background:url( ../images/menu03.png);*/
width:82px;
height:36px;
}

#menu04
{
display:block;
/*background:url( ../images/menu04.png);*/
width:87px;
height:36px;
}

#BBTopRight
{
float:left;
width:343px;
padding-top:5px;
padding-bottom:12px;
padding-left:125px;
}

#BottomSpaceInner
{
font-size:0px;
height:46px;
}

#ItemInfo
{
overflow:hidden;
padding-top:10px;
float:left;
width:100%;
}

#IILeft, #FCLEft /* #ItemInfo */
{
	float:left;

	overflow:hidden;
	margin-right:10px;
	margin-left:10px;
}

#FCLEft { margin:0px;width:260px; }
#IILeft, .IILeft { width:100%; }

#IILeft .ILItems, #Cleft .ILItems,
.IILeft .ILItems, .Cleft .ILItems
{
	overflow:hidden;
	float:left;
	width:100%;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

.ILItems:hover
{
    /* IE10 */
    background-image: -ms-linear-gradient(top, #FFFFFF 52%, #fde8dc 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 52%, #fde8dc 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 52%, #fde8dc 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 52%, #fde8dc 100%);
    /* Proposed W3C Markup */
    background-image: linear-gradient(top,#FFFFFF 52%, #fde8dc 100%);
}

#IILeft img, .IILeft img {width:90px;margin:0px 5px 0px 0px;}
.IILeft .ISize1 img{max-width: 240px;width: auto;}

#IILeft .ILItems a, #Cleft .ILItems a,
.IILeft .ILItems a, .Cleft .ILItems a
{
	text-decoration:none;
	color:#de9644;
	font-weight:bold;
	font-size:11px;
}

#Cleft .ILItems, #Cleft .ILItems a,
.Cleft .ILItems, .Cleft .ILItems a{font-size:11px;}

#IILeft #ILHeder01, .IILeft #ILHeder01
{
    font-weight: bold;
    padding: 5px 0px 0px 0px;
    font-size: 15px;
    border-bottom: 1px solid #2D91EE;
    text-align: center;
}

#ILHeder02
{
	font-weight:bold;
	padding:32px 0 0 76px;
	height:30px;
	color:#2d91ee;
	border-bottom:1px solid #2D91EE;
}

.ILItems .ILIHed
{
	width:100%;
	display:block;
}

.lban
{
	float:left;
	width:100%;
	text-align:center;
	padding:20px 0px;
}

#ItemInfo #IIRight
{
	float:left;
	width:440px;
	overflow:hidden;
}

#FCCentr
{
    overflow:hidden;
    padding: 0px 10px;
    text-align: justify;}

#IIRight .IItem
{
	float:left;
	font-size:10px;
	height:85px;
	margin:4px 10px 0 0;
	overflow:hidden;
	text-align:center;
}

#IIRight .IItem a
{
	text-decoration:none;
	color:#de9644;
}

#IIRight .IItem img
{
	height:66px;
	padding-bottom:2px;
}

#IIRight #IIHeder
{
	font-weight:bold;
	padding:26px 0px 0px 55px;
	/*background:url( ../images/ gall.jpg ) no-repeat left bottom;*/
	height:36px;
	color:#2d91ee;
	border-bottom:1px solid #2d91ee;
}

#keywords
{
	float:left;
	width:100%;
	text-align:center;
	margin-top:16px;
	margin-bottom:15px;
	line-height:19px;
	background:#efefef;
}

#keywords hr
{
	border:0px;
	border-bottom:1px solid #64C6FF;
}

#keywords h3, #keywords h2, #keywords h4, #keywords p
{
	display:inline;
	margin:0px;
	padding:0px;
}

#keywords h3
{
	font-size:14px;
	text-transform:uppercase;
	color:#64c6ff;
}

#keywords h2
{
	font-size:11px;
	text-transform:lowercase;
	color:#2eb3ff;
}

#keywords h4
{
	font-size:15px;
	color:#c2e9ff;
}

#keywords font
{
	font-size:16px;
	color:#a7dfff;
	text-transform:lowercase;
}

#keywords p
{
	font-size:13px;
	color:#a9d8ff;
}

#keywords b
{
	font-size:10px;
	text-transform:uppercase;
	color:#fc9d5f;
}

#keywords u
{
	font-size:15px;
	color:#fcd1b6;

}

#keywords  a{ text-decoration:none; }

#keywords .key01
{
	font-size:11px;
	text-transform:lowercase;
	color:#fca167;
}

#keywords .key02
{
	font-size:14px;
	text-transform:lowercase;
	color:#A7DFFF;
}

#keywords .key03
{
	font-size:12px;
	text-transform:uppercase;
	color:#fc8754;
	font-style:italic;
}

#keywords .key04
{
	font-size:15px;
	text-transform:lowercase;
	color:#fcb190;
	font-weight:bold;
}

#keywords .key05
{
	font-size:11px;
	text-transform:lowercase;
	color:#64C6FF;
	font-style:italic;
}

#keywords .key06
{
	font-size:16px;
	text-transform:lowercase;
	color:#ff8f3f;
	font-weight:bold;
}

#Cleft
{
	float:right;
	width:240px;
	overflow:hidden;
	margin:0px 0px 5px 0px;
}

.topBaner
{
	float:left;
	margin:9px 0px;
	width:100%;
	text-align:center;
}

.lblock_items
{
	float:left;
	width:100%;
}

.lblock_items
{
	float:left;
	width:100%;
}

.lblock_firm
{
	float:left;
}

.lblock_items img, .lblock_firm img
{
	float:left;
	padding:3px;
	border:1px solid #dfdfdf;
	margin-right:3px;
	margin-bottom:3px;
	width:100px;
}

#lblock_text
{
	border:1px solid #56a1e4;
	border-top:0px;
	float:left;
	padding:10px;
	/*background:#f5faff url( ../images/ c_bg.jpg ) repeat-x bottom right;*/
	width:95%;
	font-size:12px;
	margin-bottom:10px;
}

#lblock_text
{
	border:1px solid #56a1e4;
	line-height:17px;
	min-height:100px;
}

#lblock_text:hover
{
	border:1px solid #DC5800;
	box-shadow:0px 0px 5px rgba( 220, 88, 0, 0.6 );
}

.hr
{
	font-size:0px;
	border-top:1px solid #F39C5E;
    margin: 5px 15px;
}

#CCInfo .centrItem .cTitle, #FCCentr .centrItem .cTitle
{
	color:#476584;
	display:block;
	font-weight:bold;
	overflow:hidden;
	text-decoration:none;
	text-transform:inherit;
	margin-bottom:0;
	margin-top:3px;
}

.cTitle .CTa
{
	display:inline;
}

.cTitle font, .BITItems .pos
{
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #AFAFAF;
	float:right;
	font-size:10px;
	padding:0 10px;
}

.BITItems .pos
{
	float:none;
}

#CCInfo .cTitle b
{
	color:#476584;
	font-size:10px;
	font-weight:bold;
}

#CCInfo .gall .cTitle
{
	text-align:right;
}

#CCInfo .centrItem .cMore
{
	font-size:11px;
	text-align:right;
	text-decoration:none;
	color:#64C6FF;
}

/*.gall .cMore*/
#Center .cMore
{
    display: block;
    font-size: 12px;
    margin-right: 12px;
    margin-top: 6px;
    text-align: right;
	color: #0078E7;
}

#Center a.cMore{text-decoration: underline;}
#Center .cMore a{ color: #0078E7;text-decoration: underline; }

#imageBlock img
{
	height:80px;
        width:auto;
}

#bottomBG
{
	height:150px;
	margin-top:-133px;
	position:absolute;
	width:100%;
}

.mLinks
{
	color:#F39C5E;
	float:left;
	text-align:right;
	width:100%;
	text-decoration:none;
}

.cMenu
{
	font-size:15px;
}

.link, .sub_link
{
	color:#476584;
	text-decoration:none;
	font-weight:bold;
}

.selected{ text-decoration:underline;color:#64C6FF;}

.link:hover, .sub_link:hover
{
	text-decoration:underline;
}

.sub_link
{
	padding-left:12px;
	font-weight:normal;
}

#fform
{
	font-size:12px;
	float:left;
	width:100%;
}

#CCInfo #ABC
{
	float:left;
	width:100%;
	text-transform:none;
	margin-top:9px;
}

#CCInfo #ABC a
{
	text-transform:none;
}

#fform p
{
	float:left;
	margin:0px;
	margin-right:4px;
	width:100px;
}

#fform input, #fform select{width:100px;	}

#ftext
{
	width:150px;
}

#fform input, #fform select
{
	border:1px solid #64C6FF;
}

#fform input
{
	width:100px;
}

#fform  #ftext input
{
	width:97px;

}

#fform h3{margin:0px;}

#fform #submit
{
	width:100px;
	padding-top:14px;
}

.itemPar
{
	text-align:right;
	margin:0px;
	font-size:10px;
}

#Main .itemPar a
{
	margin-left:5px;
	display:inline;
	width:auto;
	font-size:12px;
	color:#DC5800;
}

#Main .BITItems .itemPar a
{
	margin-left:5px;
	display:inline;
	width:auto;
	font-size:10px;
	color:#DC5800;
}

#CCInfo .gall
{
	width:150px;
	height:150px;
}

#listPage
{
	float:left;
	width:100%;
}

.BIBlock .Gallery
{
	width:75px;
	height:145px;
	margin-right:5px;
}

.BIBlock .Gallery a
{
	font-size:10px;
}

#CCInfo h1
{
	float:left;
	font-size:18px;
	margin-top:0;
	width:100%;
}

#CCInfo h2
{
	float:left;
	font-size:16px;
	margin-top:0;
	width:75%;
}

#CCInfo .sectionItems h2{width:100%;}

#CCInfo h2 a
{
	font-size:16px;
	color:#DC5800;
	text-decoration:none;
}

.display_none { display:none; }

.centrItem .levelImg
{
	border:0 none;
	display:inline;
	float:none;
	width:auto;
	border:0 none;
	display:inline;
	float:none;
	height:10px;
	margin:0px;
}

.centrItem  i
{
	font-size:11px;
	font-weight:normal;
}

.popup
{
	background:rgba(236, 246, 255, 0.8);
	border:3px solid #AFAFAF;
	display:none;
    margin-left: 9px;
    margin-top: -6px;
	padding:0px 10px 10px 10px;
	position:absolute;
	width:400px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.item_obj
{
	float:left;
	margin-top:8px;
	width:100%;
}

.obj_title
{
	color:#ffffff;
	font-size:14px;
	font-style:italic;
	font-weight:bold;
	padding-right:20px;
	text-align:right;
}

.items_table
{
	border:1px solid #70a3c2;
	font-size:12px;
	overflow:hidden;
	padding-bottom:5px;
}

.items_table table
{
	width:100%;
	padding-left:5px;
}

.items_table table tr
{
	height:25px;
}

.items_table table td
{
	padding-right:2px;
	padding-left:2px;
	border-right:1px solid #ffffff;
}

.align_center { text-align:center; }
.popup_title
{
	background:none repeat scroll 0 0 #FFB37D;
	color:#FFFFFF;
	font-weight:bold;
	height:17px;
	margin-bottom:5px;
	margin-top:5px;
	padding-left:10px;
	padding-top:2px;
}

.pText
{
	overflow:hidden;
	float:left;
	width:100%;
}

.pText img
{
	float:left;
	height:90px;
	padding:0 5px 0 0;
}

.popup_links
{
	float:left;
	width:100%;
	margin-top:10px;
}

.PMarginLeft{margin-left: -200px;padding: 0px 10px 5px 10px;}

.lBorder
{
    float: left;
	width:100%;
}

.err
{
    background: #FFEFEF;
    border-left: 3px solid #FF0000;
	border-right: 3px solid #FF0000;	
    color: #FF0000;
    font-style: italic;
    padding: 20px 0px 20px 70px ;
    width: 83%;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.6);		
	/*background: url( ../images/icons/error.png) no-repeat 10px center;*/
	background-size: 50px auto;	
}

.err ul { padding-left:20px; }

.ok
{
    background: #EFEFFF;
	border-left:3px solid #0000ff;
	border-right:3px solid #0000ff;	
    color: #0000FF;
	padding: 20px 0px 20px 70px ;
    width: 83%;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.6);		
	background: url( ../images/apply.png) no-repeat 10px center;
	background-size: 50px auto;
}

.err, .ok
{	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;	
	margin-bottom: 10px;
}

.imgOk
{
    /*background:url( ../images/ apply.png ) no-repeat left center;*/
    padding-left: 70px;
    padding-top: 40px;
    height:24px;
    border:0px;
}

#bLinks
{
	text-align:center;
}

#feedback
{
	float:left;
}

#CCInfo .navig #list_activ
{
    color: #0E4884;
    font-size: 15px;
    font-weight: bold;
}

#FCCentr h1
{
    font-size: 24px;
	padding:0px 0px 0px 30px;
	color: #DC5800;
    margin: 10px 0px 5px 0px;
}
#FCCentr h1 font{font-size: 14px;color: rgba(220, 88, 0, 0.67);}

#FCCentr h2{margin-top: 0px;text-align: center;font-size: 18px;color:#DC5800;border-bottom: 1px solid #ff9249; }
#FCCentr h2 font{font-size: 11px;color: rgba(220, 88, 0, 0.67);}

#counters
{
   float: right;
   text-align: center;
   width: 100%;
}

#dop_links
{
    float: left;
    margin-top: 20px;
    text-align: center;
}

#h1Space
{
    float: left;
    height: 46px;
    width: 450px;
}

/* новое */

.LI{float:left;}
.LI.ISize1{float: none;text-align: center;height: 120px;overflow: hidden;}
.LI.ImageLimit{ height: 90px;overflow: hidden; }

#Buttons{margin: 0px 4px;padding:10px 0px;text-align: center;background: url(../images/buttom_bg_.png) no-repeat right top, url(../images/buttom_bg.png) no-repeat left top, url(../images/button_bg_2.jpg) repeat;}
#Buttons.BBig{background-size: auto 62px;padding: 6px 0px;}

#Buttons .B01, #Buttons .B02 {display: inline-block;width: 48%;padding-top: 10px;}

.B01 {
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #337fed;
    text-decoration:none;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0) );
    background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
    background:-ms-linear-gradient( top, #3d94f6 5%, #1e62d0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    background-color:#3d94f6;
    color:#ffffff;
    display:inline-block;
    text-shadow:1px 1px 0px #1570cd;
    -webkit-box-shadow:inset 2px 3px 2px 0px #97c4fe;
    -moz-box-shadow:inset 2px 3px 2px 0px #97c4fe;
    box-shadow:inset 2px 3px 2px 0px #97c4fe;
}.B01:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #1e62d0), color-stop(100%, #3d94f6) );
     background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
     background:-ms-linear-gradient( top, #1e62d0 5%, #3d94f6 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
     background-color:#1e62d0;
 }

#Buttons.BBig .B01{
    width: 95%;
    margin: 0px 20px;
    padding-top: 2px;
    height: 46px;
}
#Buttons.BBig .B01 a{font-size: 11px;}
#Buttons.BBig .B01 a b{font-size: 14px;}

.B02 {
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #ffaa22;
    text-decoration:none;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffec64), color-stop(100%, #ffab23) );
    background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
    background:-ms-linear-gradient( top, #ffec64 5%, #ffab23 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
    background-color:#ffec64;
    color:#333333;
    display:inline-block;
    text-shadow:1px 1px 0px #ffee66;
    -webkit-box-shadow:inset 2px 3px 2px 0px #fff6af;
    -moz-box-shadow:inset 2px 3px 2px 0px #fff6af;
    box-shadow:inset 2px 3px 2px 0px #fff6af;
}.B02:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffab23), color-stop(100%, #ffec64) );
     background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
     background:-ms-linear-gradient( top, #ffab23 5%, #ffec64 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
     background-color:#ffab23;
 }


#Buttons .B01 a, #Buttons .B02 a{color: #ffffff;}
#Buttons .B02 a{color:#985d2c;}
#Buttons .B01 a b, #Buttons .B02 a b{font-size: 20px;text-transform: capitalize;border-bottom: 1px solid #afafaf;padding: 0px 25px;}
#Buttons.BSmall .B01 a b, #Buttons.BSmall .B02 a b{font-size: 16px;padding: 0px 15px;text-transform: none; }
#Buttons .B02 a b{border-bottom: 1px solid #ffffff;padding: 0px 0px;text-align: center;}
.B01, .B02{ width: 374px;height: 65px; text-align: center;}

.FCItems li:hover .display_none{ display: block;}
.textAlignRight{text-align: right;}

/* для подвижного блока */
#Menu.fixed {
    position: fixed;
    top: 0px;
    z-index: 9999;
    right: 0;
    background: rgba( 255,255,255, 0.8);
    margin-top: -38px;
    height: 82px;
    overflow: hidden;
    opacity: 0.7;
    border: 2px solid #afafaf;
    border-radius: 10px;
    width: 797px;
    margin-right: 0px;
    box-shadow: 0px 0px 10px #000;
    padding-top: 7px;
    padding-left: 13px;
}

#Menu.fixed .MFirst{margin-left: 0px;}

#Menu.fixed:hover{ opacity: 1; border: 2px solid #ef5806;height: 97px;}

#catalogItems{margin: 0px 15px;}
.listItems{overflow: hidden;border-bottom:1px solid #efefef;padding-bottom:5px;margin-bottom: 5px; }
.listItems .IImage{width: 200px;height: 120px;overflow: hidden;float: left;margin: 0px 10px 10px 0px;border-radius: 25px;}
#FCCentr .listItems a{text-decoration: underline;font-weight: bold;font-size: 14px;text-transform: capitalize;}
#FCCentr .listItems .LParams a{font-weight: normal;}
.LParams{text-indent: 0px;float: right;text-align: left;border-left: 2px solid #DC5800;padding-left: 10px;margin-left: 4px;min-width: 100px;font-size: 10px;}
#FCCentr .LParams a{font-size: 10px;}


.floatRight{float: right;}
.rightInfo{font-size: 10px;background:#BEC1CC;color: #fff;padding:1px 3px; }
#Address
{
    margin: 0px 15px;

    /* IE10 */
background-image: -ms-linear-gradient(left, rgba( 255, 255, 255, 0.8 ) 0%, rgba( 255, 255, 255, 0 ) 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, rgba( 255, 255, 255, 0.8 ) 0%, rgba( 255, 255, 255, 0 ) 100%);
    /* Opera */
    background-image: -o-linear-gradient(left, rgba( 255, 255, 255, 0.8 ) 0%, rgba( 255, 255, 255, 0 ) 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba( 255, 255, 255, 0 )), color-stop(1, rgba( 255, 255, 255, 0.8 )));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, rgba( 255, 255, 255, 0.8 ) 0%, rgba( 255, 255, 255, 0 ) 100%);
    /* Proposed W3C Markup */
    background-image: linear-gradient(left,rgba( 255, 255, 255, 0.8 ) 0%, rgba( 255, 255, 255, 0 ) 100%);

    padding: 3px 3px 3px 10px;
    border-left: 4px solid #DC5800;
}

#InnerText{ margin: 0px 10px; }
#ITImage{float: left;padding: 3px;border: 1px solid #afafaf;margin: 0px 10px 10px 0px;overflow: hidden;text-indent: 0px;}
#ITText{overflow: hidden;}
#ITText,#ITText p{text-align: justify;margin: 8px 0px;}
.ITSmallText{height: 265px;}
.ITBlock{overflow: hidden;text-align: center;}
.IBItem{
    height: 100px;
    text-align: left;
    width: 280px;
    padding: 5px 10px 5px 5px;
    border: 1px solid #afafaf;
    border-radius: 8px;
    margin:2px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;

    /* IE10 */
    background-image: -ms-linear-gradient(top, #faf1f1 0%, #FFFFFF 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #faf1f1 0%, #FFFFFF 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #faf1f1 0%, #FFFFFF 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #faf1f1), color-stop(1, #00A3EF));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #faf1f1 0%, #FFFFFF 100%);
    /* Proposed W3C Markup */
    background-image: linear-gradient(top,#faf1f1 0%, #FFFFFF 100%);
}

.ITBlock.ITBFirms .IBItem{width: 150px;text-align: center;height: 90px;vertical-align: top;}
.ITBlock.ITBFirms.ITBOthCountry .IBItem{width: 150px;height: 150px;}
.ITBlock.ITBFirms .IBIImage{ display: inline-block;float: none;margin: 0px;max-height: 60px;height: auto; }

.ITBlock.ITBFirms .LParams{margin-top: 0px;width: 60px;border-left: 2px solid #fb9f62;font-size: 10px;}
#FCCentr .ITBlock.ITBOthCountry .LParams{width: 75px;}

#FCCentr .ITBlock.ITBFirms .LParams a{color:#fb9f62;font-size: 10px;}

.ITBlock p{margin: 0px;text-align: right;}
.ITBlock p b{font-size: 16px;color: #ff0000;}

.IBItem:hover
{
    border: 1px solid #ef8c56;
    /* IE10 */
    background-image: -ms-linear-gradient(top, #fad2d2 0%, #FFFFFF 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #fad2d2 0%, #FFFFFF 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #fad2d2 0%, #FFFFFF 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #fad2d2), color-stop(1, #00A3EF));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #fad2d2 0%, #FFFFFF 100%);
    /* Proposed W3C Markup */
    background-image: linear-gradient(top,#fad2d2 0%, #FFFFFF 100%);
}

.IBIImage{float: left;height: 100px;width: 120px;overflow: hidden;text-align: center;margin-right: 5px;}
.ITBlock.ITBFirms.ITBOthCountry .IBIImage{height: 100px;width: 150px;max-height: none;}
.IBIImage img{max-height: 100px;max-width: 120px;}
.ITBlock.ITBFirms.ITBOthCountry img{max-height: 120px;max-width: 150px;}
.pageList{ border-top: 1px solid #DC5800;text-align: center; }
#FCCentr .pageList a{padding-right: 3px;font-size: 14px;}
.pageList b{font-size: 16px;padding-right: 3px;}
.radColor{color:#ff0000;}

#CIHeader
{
    text-align: right;
    /*background: url(../images/params_bg.jpg ) no-repeat;*/
    margin-bottom: 10px;
}
#CIHeader div{color:#100503;}

.overflowHidden{overflow: hidden}
.CIH{display: inline-block;margin-top: 1px;}
#catalogItems a.CIH{color:#DC5800;background: rgba(255,255,255,0.6);padding: 1px 5px;}

#catalogItems a.CIHActive{border: 1px solid;
    padding-bottom: 2px;
    padding-left: 15px;
    margin-top: 0px;
    margin-right: 3px;
    text-align: center;
    padding-right: 4px;
}

#catalogItems .CIHActive.CIHdesc {background: #fff url(../images/sort_bg.jpg) no-repeat  3px 3px;}
#catalogItems .CIHActive.CIHasc {background: #fff url(../images/sort_bg.jpg) no-repeat  3px -11px;}

.CIHLast{margin-right:6px; }
.displayInlainBlock{display: inline-block;}
.yearField{width: 40px}

#catalogItems .ParamsClear a{text-decoration: none;margin: 0px;}
#catalogItems .LHeader a{color:#0078E7}
.levelStar img{ width: 90px; }

#CIFind input[type=text], #CIFind select{ border: 1px solid #afafaf;border-radius: 8px;padding: 2px 5px;max-width: 200px; }
#CIFind input[type=submit]{border-radius: 8px; }
#BMedal{position: absolute;right: 0px;margin: 0px 20px 0px 0px;}
#TMedal{float:left;background: url(../images/t_medal.png); width: 80px;height: 116px;margin-top: -8px;}
#TrioMedal{float:left;background: url(../images/trio_medal.png); width: 82px;height: 117px;margin-top: -8px;}
#TMedal a, #TrioMedal a{display: block;width: 80px;height: 76px;margin-top: 32px;}

#InnerText .LParams .LPLink
{
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:5px;
    border:1px solid #337fed;
    text-decoration:none;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0) );
    background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
    background:-ms-linear-gradient( top, #3d94f6 5%, #1e62d0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    background-color:#3d94f6;
    color:#ffffff;
    text-align: center;
    padding: 3px 4px;
    width: 90%;
    display: block;
}

#InnerText .LParams .LPLink:hover {

         background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #1e62d0), color-stop(100%, #3d94f6) );
         background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
         background:-ms-linear-gradient( top, #1e62d0 5%, #3d94f6 100% );
         filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
         background-color:#1e62d0;
}

#orderInfo
{
    position: absolute;
    width: 400px;
    border-radius: 8px;
    background: rgba( 255,255,255, 0.9 );
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.9);
    border-left:4px solid #DC5800;
    border-right:4px solid #DC5800;
    z-index: 9999;

    /* IE10 */
    background-image: -ms-linear-gradient(top, #fad2d2 0%, #FFFFFF 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #fad2d2 0%, #FFFFFF 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #fad2d2 0%, #FFFFFF 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #fad2d2), color-stop(1, #00A3EF));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #fad2d2 0%, #FFFFFF 100%);
    /* Proposed W3C Markup */
    background-image: linear-gradient(top,#fad2d2 0%, #FFFFFF 100%);
}

.displayNone{display: none;}
.overflowBackground{display:block;background: rgba(0,0,0, 0.6);z-index: 9990;position: absolute;width: 100%;height: 5000px;}
.textAlignJustify{text-align: justify}

.tableForm{margin: 0px auto;}
.tableForm .tableForm
{ background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #9F9F9F;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px #AFAFAF;
}

.tableForm td:hover input{border: 1px solid #DC5800 !important;}
.tableForm td:hover select{border: 1px solid #DC5800;}
.tableForm td:hover textarea{border: 1px solid #DC5800;}

.tableForm th{
    background: #fefcea; /* Для старых браузров */
    background: -moz-linear-gradient(top, #fff, #efefef); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#fff), color-stop(100%,#efefef));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #fff, #efefef);
    background: -o-linear-gradient(top, #fff, #efefef); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff, #efefef); /* IE10 */
    background: linear-gradient(top, #fff, #efefef); /* CSS3 */
}

.mainOtherBG .tableForm th{background: rgba(246, 246, 246, 0.4)}

.tableForm th, .tableForm td {padding: 4px 10px;border-bottom: 1px solid #afafaf;text-align: left;}
.tableForm th{max-width: 200px;}
.tableForm td textarea{width: 415px;border: 1px solid #afafaf;}
.tableForm td input[type=url], .tableForm td input[type=email], .tableForm td input[type=text],.tableForm td input[type=password]{width: 400px;padding: 4px 10px;border: 1px solid #afafaf;}
.tableForm td input[type=submit]{width: auto;}
.tableForm td select {width: 420px;padding: 4px 10px;border: 1px solid #afafaf;}

#tableListItems, .tableListItems{width: 100%;padding: 0px 10px;}
#tableListItems th, .tableListItems th{
    background: #fefcea; /* Для старых браузров */
    background: -moz-linear-gradient(top, #fff, #dfdfff); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#fff), color-stop(100%,#dfdfff));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #fff, #dfdfff);
    background: -o-linear-gradient(top, #fff, #dfdfff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff, #dfdfff); /* IE10 */
    background: linear-gradient(top, #fff, #dfdfff); /* CSS3 */
    padding: 5px 0px;
}

.mainOtherBG #tableListItems th, .mainOtherBG .tableListItems th{background: rgba(246, 246, 246, 0.7)}

#tableListItems td, .tableListItems td{border-bottom: 1px solid #cfcfcf;padding: 0px 5px;}
#tableListItems select, #tableListItems input[type=text],
.tableListItems select, .tableListItems input[type=text]{width: 415px;padding: 3px;}
#tableListItems select, .tableListItems select{width: 425px;}

.errorSummary
{
    border: 1px solid #991402;
    border-left: 6px solid #761002;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba( 40, 40, 40, 0.6 );

    background: #fefcea; /* Для старых браузров */
    background: -moz-linear-gradient(top, #ffffff, #f2d3d3); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#ffffff), color-stop(100%,#f2d3d3));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #ffffff, #f2d3d3);
    background: -o-linear-gradient(top, #ffffff, #f2d3d3); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff, #f2d3d3); /* IE10 */
    background: linear-gradient(top, #ffffff, #f2d3d3); /* CSS3 */
    margin: 10px 25px 0px 25px;
}

.messageSummary
{
    border: 1px solid #fe8238;
    border-left: 6px solid #fe8238;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba( 40, 40, 40, 0.6 );

    background: #fefcea; /* Для старых браузров */
    background: -moz-linear-gradient(top, #ffffff, rgba(254, 130, 56, 0.5)); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#ffffff), color-stop(100%,rgba(254, 130, 56, 0.5)));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #ffffff, rgba(254, 130, 56, 0.5));
    background: -o-linear-gradient(top, #ffffff, rgba(254, 130, 56, 0.5)); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff, rgba(254, 130, 56, 0.5)); /* IE10 */
    background: linear-gradient(top, #ffffff, rgba(254, 130, 56, 0.5)); /* CSS3 */
    margin: 10px 5px 5px 5px;
    line-height: 15px;
}

.textAlignCenter{text-align: center;}

#tableListItems tr:hover
{
    background: rgba(4,154,250, 0.8);

    background: #fefcea; /* Для старых браузров */
    background: -moz-linear-gradient(top, #ffffff, rgba(4,154,250, 0.2)); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#ffffff), color-stop(100%,rgba(4,154,250, 0.2)));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #ffffff, rgba(4,154,250, 0.2));
    background: -o-linear-gradient(top, #ffffff, rgba(4,154,250, 0.2)); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff, rgba(4,154,250, 0.2)); /* IE10 */
    background: linear-gradient(top, #ffffff, rgba(4,154,250, 0.2)); /* CSS3 */
}

.DLItem{display: inline-block;margin: 10px;text-align: center;border-radius: 10px;box-shadow: 0px 0px 5px rgba(0,0,0, 0.8);

    background: #fff; /* Для старых браузров */
    background: -moz-linear-gradient(top, #fff, #efefef); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#fff), color-stop(100%,#efefef));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #fff, #efefef);
    background: -o-linear-gradient(top, #fff, #efefef); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff, #efefef); /* IE10 */
    background: linear-gradient(top, #fff, #efefef); /* CSS3 */
}
.DLItem .TImage{width: 200px;height: 120px;overflow: hidden;border-radius: 10px;border: 3px solid #afafaf;box-shadow: 0px 0px 5px rgba(0,0,0, 0.8);}
#gallery{width: 631px;margin: 0px auto;border: 1px solid #afafaf;padding: 10px;border-radius: 12px;}

.listGallery{overflow: hidden;text-align: center;}
.LGItem{overflow:hidden;text-align:center;display: inline-block;margin:3px;padding: 3px;width: 108px;height: 140px;
    background: #fefcea; /* Для старых браузров */
    background: -moz-linear-gradient(top, #fff, #dfdfff); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#fff), color-stop(100%,#dfdfff));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #fff, #dfdfff);
    background: -o-linear-gradient(top, #fff, #dfdfff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff, #dfdfff); /* IE10 */
    background: linear-gradient(top, #fff, #dfdfff); /* CSS3 */

    box-shadow: 0px 0px 3px #afafaf;
}
.innerPage .LGItem{width: 190px;height: 143px;}

.LGItem div{height: 100px;overflow: hidden;text-indent: 0px;}
.innerPage .LGItem div{height: 147px;}
.LGItem div img{border-radius: 6px;max-width: 108px;}
.innerPage .LGItem div img{max-width: 190px;}

.LGItem a{font-size: 12px;}
.LGItem input{width: 104px;font-size: 11px;}

.listItemsImages{width: 120px;height: 110px;padding-top: 10px;text-indent: 0px;background: url( ../images/no_image.png ) no-repeat center center;}
.LII_1, .LII_2, .LII_3, .LII_4, .LII_5{text-align: center;background:#fff;position: absolute;width: 100px;max-height: 100px;overflow: hidden;border: 2px solid #fff;border-radius: 8px;box-shadow: 0px 0px 5px rgba(0,0,0,0.6);}
.LII_1{z-index: 99999;}
.LII_2{z-index: 88888;
    /* Safari */-webkit-transform: rotate(-10deg);
    /* Firefox */-moz-transform: rotate(-10deg);
    /* IE */-ms-transform: rotate(-10deg);
    /* Opera */-o-transform: rotate(-10deg);
    /* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.LII_3{z-index: 77777;
    /* Safari */-webkit-transform: rotate(10deg);
    /* Firefox */-moz-transform: rotate(10deg);
    /* IE */-ms-transform: rotate(10deg);
    /* Opera */-o-transform: rotate(10deg);
    /* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.LII_4{z-index: 66666;
    /* Safari */-webkit-transform: rotate(20deg);
    /* Firefox */-moz-transform: rotate(20deg);
    /* IE */-ms-transform: rotate(20deg);
    /* Opera */-o-transform: rotate(20deg);
    /* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.LII_5{z-index: 66666;
    /* Safari */-webkit-transform: rotate(-20deg);
    /* Firefox */-moz-transform: rotate(-20deg);
    /* IE */-ms-transform: rotate(-20deg);
    /* Opera */-o-transform: rotate(-20deg);
    /* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.listItemsImages:hover .LII_1, .listItemsImages:hover .LII_2, .listItemsImages:hover .LII_3, .listItemsImages:hover .LII_4, .listItemsImages:hover .LII_5{box-shadow: 0px 0px 10px rgba(0,0,0,0.8);}

.listItemsImages:hover .LII_2, #tableListItems tr:hover .LII_2
{
    -webkit-animation: imageRotateLeft 500ms ease-in-out 0s 1 alternate forwards;
    -moz-animation: imageRotateLeft 500ms ease-in-out 0s 1 alternate forwards;
    animation: imageRotateLeft 500ms ease-in-out 0s 1 alternate forwards;
}
.listItemsImages:hover .LII_3, #tableListItems tr:hover .LII_3
{
    -webkit-animation: imageRotateRight 500ms ease-in-out 0s 1 alternate forwards;
    -moz-animation: imageRotateRight 500ms ease-in-out 0s 1 alternate forwards;
    animation: imageRotateRight 500ms ease-in-out 0s 1 alternate forwards;
}
.listItemsImages:hover .LII_4, #tableListItems tr:hover .LII_4
{
    -webkit-animation: imageRotateRight2 500ms ease-in-out 0s 1 alternate forwards;
    -moz-animation: imageRotateRight2 500ms ease-in-out 0s 1 alternate forwards;
    animation: imageRotateRight2 500ms ease-in-out 0s 1 alternate forwards;
}
.listItemsImages:hover .LII_5, #tableListItems tr:hover .LII_5
{
    -webkit-animation: imageRotateLeft2 500ms ease-in-out 0s 1 alternate forwards;
    -moz-animation: imageRotateLeft2 500ms ease-in-out 0s 1 alternate forwards;
    animation: imageRotateLeft2 500ms ease-in-out 0s 1 alternate forwards;
}
.listItemsImages img{max-height: 104px;}
.pageTab td, .pageTab th{text-indent: 0px;}

.colorRad, .redColor{color:#ff0000;}
#dopMenu{overflow: hidden;margin: 0px auto 10px auto;text-align: center;}
#dopMenu a{display: inline-block;width: 180px;vertical-align: top;padding: 2px 5px;text-align:center;border-right: 1px solid #bfbfbf;margin-top: 2px;}
#dopMenu.tourPage a{width: auto;}
.emptyList{padding: 10px 0px;}
#dopMenu .activeDM{background: #cfcfff;}
.pageTab{background: #fff;top: 355px;overflow: hidden;text-align: justify;text-indent: 25px;}

#description_page{text-align: justify;}
#description_page p{margin:3px 0px !important;text-indent: 25px;}
/*#InnerText .pageTab {top:auto;}*/
#yw0{float: left;}

.isNewItem td, .isNewItem a{font-weight: bold;}

.ajaxError
{
    position: absolute;
    width: 818px;
    margin-right: 250px;
    background: rgba( 255, 200, 200, 0.6 ); /* Для старых браузров */
    border: 2px solid rgba( 255, 0, 0, 0.4 );
    z-index: 99999;
    right: 0;
    box-shadow: 0px 0px 5px;
}

.publish
{
    background:rgba(255, 102, 0, 0.3);
    background: -moz-linear-gradient(top, #fff, rgba(255, 102, 0, 0.3)); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#fff), color-stop(100%,rgba(255, 102, 0, 0.3)));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #fff, rgba(255, 102, 0, 0.3));
    background: -o-linear-gradient(top, #fff, rgba(255, 102, 0, 0.3)); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff, rgba(255, 102, 0, 0.3)); /* IE10 */
    background: linear-gradient(top, #fff, rgba(255, 102, 0, 0.3)); /* CSS3 */
}
.banerBlock{width: 800px;height: 90px;overflow: hidden;margin: 5px 0px;}
.banerBlock img{max-width: 800px}

/* Notifications */
#notificationsBlock{box-shadow:0px 0px 10px rgba( 0, 0, 0, 0.4 );margin:10px 15px;padding:10px;overflow: hidden;border:1px solid #475071;border-left:3px solid #475071;border-right:3px solid #475071 ;border-radius: 10px;}
.NBItem{overflow:hidden;padding: 5px 10px;border-radius: 6px;margin-bottom: 5px;
    background: #fefcea; /* Для старых браузров */
    background: -moz-linear-gradient(top, #fff, #efefef); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#fff), color-stop(100%,#efefef));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #fff, #efefef);
    background: -o-linear-gradient(top, #fff, #efefef); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff, #efefef); /* IE10 */
    background: linear-gradient(top, #fff, #efefef); /* CSS3 */
}

.NBItem:hover{
    background: #fefcea; /* Для старых браузров */
    background: -moz-linear-gradient(top, #fff, #dfdfff); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#fff), color-stop(100%,#dfdfff));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #fff, #dfdfff);
    background: -o-linear-gradient(top, #fff, #dfdfff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff, #dfdfff); /* IE10 */
    background: linear-gradient(top, #fff, #dfdfff); /* CSS3 */
}
.NBItem .displayNone{overflow:hidden;padding: 10px;background:transparent;border-radius: 8px 8px 8px 8px;}
.NBItem .displayNone.greyBack{background: #DFDFDF;border: 1px solid #AFAFAF;}
.NBItem .displayNone .textAlignLeft{display: none;}
#formNote
{
    background: url(../images/note.png ) no-repeat;
    padding-left: 44px;
    width: 642px;
    margin: 10px auto;
    min-height: 27px;
    padding-top: 12px;
}

#formNote .displayNone
{
    border: 1px dotted #000;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 0px 5px;
}
.greeBorder{border: 3px dotted #afafaf;padding: 10px;margin: 10px 20px;background: #efefef;box-shadow: 0px 0px 10px; }
.dopMenuPages
{
    background: #dfdfff; /* Для старых браузров */
    background: -moz-linear-gradient(top, #fff, #dfdfff); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#fff), color-stop(100%,#dfdfff));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #fff, #dfdfff);
    background: -o-linear-gradient(top, #fff, #dfdfff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff, #dfdfff); /* IE10 */
    background: linear-gradient(top, #fff, #dfdfff); /* CSS3 */
}

.dopMenuPages:hover
{
    background: #fff; /* Для старых браузров */
    background: -moz-linear-gradient(top, #dfdfff, #fff); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#dfdfff), color-stop(100%,#fff));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #dfdfff, #fff);
    background: -o-linear-gradient(top, #dfdfff, #fff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dfdfff, #fff); /* IE10 */
    background: linear-gradient(top, #dfdfff, #fff); /* CSS3 */
}

.MenuJsClass{display: block;width: 77px;height: 71px;}
#c1{ background:url( ../images/menu.jpg ) no-repeat;background-position: 0px 0px; }
#c2{ background:url( ../images/menu.jpg ) no-repeat;background-position: -78px 0px; }
#c3{ background:url( ../images/menu.jpg ) no-repeat;background-position: -156px 0px; }
#c4{ background:url( ../images/menu.jpg ) no-repeat;background-position: -234px 0px; }
#c5{ background:url( ../images/menu.jpg ) no-repeat;background-position: -312px 0px; }
#c6{ background:url( ../images/menu.jpg ) no-repeat;background-position: -390px 0px; }
#c7{ background:url( ../images/menu.jpg ) no-repeat;background-position: -469px 0px; }
#c8{ background:url( ../images/menu.jpg ) no-repeat;background-position: -548px 0px; }
#c9{ background:url( ../images/menu.jpg ) no-repeat;background-position: -627px 0px; }

#userCabinet
{
    background: url( ../images/user_cabinet.jpg ) no-repeat;
    width: 243px;
    height: 203px;
}

#userCabinet ul
{
    margin: 0px 0px 0px 100px;
    padding: 0px;
    list-style: none;
    width: 130px;
    line-height: 24px;
    padding-top: 8px;
}

#userCabinet ul a
{
    color:#ffffff;
    display: block;
    padding: 0px 0px 0px 5px;
}

#userCabinet ul a:hover
{
    background: rgba( 255,255,255, 0.2 );
}

#userCabinet #logOut, .FTBottom
{
    font-size: 11px;
    line-height: 10px;
    margin: 37px 0px 0px 33px;
    color:#6f6f6f;
}

#userCabinet div a
{
    display: block;
    float: right;
    margin: 4px 41px 0px 0px;
    font-size: 12px;
    color: #fff;
}

.CICategory
{
    vertical-align: top;
    text-align: left;
    width: 375px;
    display: inline-block;
    text-indent: 0px;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 3px rgba( 0,0,0, 0.8 );
    margin: 3px;

    background: #fff; /* Для старых браузров */
    background: -moz-linear-gradient(top, #ffffff, rgba( 0,0,0, 0.1) ); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#ffffff), color-stop(100%,rgba( 0,0,0, 0.2) ));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #ffffff, rgba( 0,0,0, 0.1) );
    background: -o-linear-gradient(top, #ffffff, rgba( 0,0,0, 0.1) ); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff, rgba( 0,0,0, 0.1) ); /* IE10 */
    background: linear-gradient(top, #ffffff, rgba( 0,0,0, 0.1) ); /* CSS3 */
    overflow: hidden;

}

.CICategory .CICategoryScrool{height: 120px;overflow: auto;}

#CICategory ul ul{margin-bottom: 10px;}

#CIHeader .CICLabel{
    box-shadow: 0px 0px 10px #000;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 5px 20px;
    font-size: 14px;
    padding-bottom: 3px;
    color:#fff;
    text-shadow: 0px 0px 5px #000;

    /* IE10 */
    background-image: -ms-linear-gradient(left, #00A3EF 30%, #FFFFFF 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #00A3EF 30%, #FFFFFF 100%);
    /* Opera */
    background-image: -o-linear-gradient(left, #00A3EF 30%, #FFFFFF 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #00A3EF 30%, #FFFFFF 100%);
    /* Proposed W3C Markup */
    background-image: linear-gradient(left,#00A3EF 30%, #FFFFFF 100%);

}

.CLISelected{background: rgba(0,100,255, 0.4);padding-left: 10px;}
.CLISelected a{color: #fff;}